
.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    display: flex;
    cursor: move;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    padding-bottom: 100px;
}

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
}

.tree li a:hover,
.tree li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}

.tree li a.child-1 {
    background-color: #ffcccc;
}

.tree li a.child-2 {
    background-color: #ccffcc;
}

.tree li a.child-3 {
    background-color: #ccccff;
}

.tree li a.child-4 {
    background-color: #ffffcc;
}

.tree li a.child-5 {
    background-color: #b8eebf;
}

.tree li a.child-6 {
    background-color: #a9e4f2;
}

.tree li a.child-7 {
    background-color: #3db5d3;
}

.tree li a.child-8 {
    background-color: #9199ee;
}

.tree li a.child-1:hover,
.tree li a.child-2:hover,
.tree li a.child-3:hover,
.tree li a.child-4:hover,
.tree li a.child-5:hover,
.tree li a.child-6:hover,
.tree li a.child-7:hover,
.tree li a.child-8:hover {
    background-color: #e0e0e0;
}
