<div class="tree-container zoomed">
  <div class="tree" [style.transform]="'scale(' + zoomLevel + ') translate(' + (-cursorX) + 'px,' + (-cursorY) + 'px)'"
    (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp()" (mouseleave)="onMouseUp()" style="cursor: move;">
    <ul>
      <li>
        <a class="child-1">
          <span>Ramo Ramović</span>
        </a>
        <ul>
          <li>
            <a class="child-2">Adem</a>
            <ul>
              <li>
                <a class="child-3">Ejup</a>
                <ul>
                  <li>
                    <a class="child-4">Jakup</a>
                  </li>
                  <li>
                    <a class="child-4">Cako</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Smajo</a>
                <ul>
                  <li>
                    <a class="child-4">Hidajet</a>
                  </li>
                  <li>
                    <a class="child-4">Ismet</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Idriz</a>
              </li>
              <li>
                <a class="child-3">Indira</a>
                <ul>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a class="child-2">Murat</a>
            <ul>
              <li>
                <a class="child-3">TBD</a>
                <ul>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">TBD</a>
                <ul>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">TBD</a>
                <ul>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">TBD</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="child-2">Nurko</a>
            <ul>
              <li>
                <a class="child-3">TBD</a>
                <ul>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">TBD</a>
                <ul>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                  <li>
                    <a class="child-4">TBD</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">TBD</a>
              </li>
              <li>
                <a class="child-3">TBD</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
