<div class="tree-container zoomed">
  <div style="position: absolute; top: 20px; right: 40px; z-index: 10;">
    <input type="text" [(ngModel)]="searchText" (input)="onSearchChange()" placeholder="Pretraga po imenu..." class="search-input" />
  </div>
  <div class="tree" [class.draggable]="isDragging" [style.transform]="'scale(' + zoomLevel + ') translate(' + (-cursorX) + 'px,' + (-cursorY) + 'px)'"
     (mousedown)="onMouseDown($event)">
    <ul *ngIf="familyTree">
      <ng-container *ngTemplateOutlet="renderMember; context: { $implicit: familyTree }"></ng-container>
    </ul>
    <ng-template #renderMember let-member>
      <li>
        <a [ngClass]="member.class" [attr.id]="'member-' + (member.name ? member.name.split(' ').join('') : '')" (click)="onMemberClick(member, $event)" tabindex="0">
          <span *ngIf="member.dateOfBirth; else noDate">{{ member.name }}({{ member.dateOfBirth }})</span>
          <ng-template #noDate>{{ member.name }}</ng-template>
        </a>
        <ul *ngIf="member.children && member.children.length">
          <ng-container *ngFor="let child of member.children || []">
            <ng-container *ngTemplateOutlet="renderMember; context: { $implicit: child }"></ng-container>
          </ng-container>
        </ul>
      </li>
    </ng-template>
  </div>
  <div *ngIf="showMemberModal" class="modal-overlay" (click)="closeMemberModal()">
    <div class="modal-window" (click)="$event.stopPropagation()">
      <button class="modal-close" (click)="closeMemberModal()">&times;</button>
      <h2>{{ selectedMember?.name }}</h2>
      <p><strong>Datum rođenja:</strong> {{ selectedMember?.dateOfBirth || 'Nepoznato' }}</p>
      <ng-container *ngIf="selectedMember?.children?.length">
        <p><strong>Broj djece:</strong> {{ selectedMember?.children?.length }}</p>
      </ng-container>
    </div>
  </div>
</div>
