<div class="tree-container zoomed">
  <div class="tree" [style.transform]="'scale(' + zoomLevel + ') translate(' + (-cursorX) + 'px,' + (-cursorY) + 'px)'"
    (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp()" (mouseleave)="onMouseUp()" style="cursor: move;">
    <ul>
      <li>
        <a class="child-1">
          <span>Michael</span> & <span>Rebecca</span>
        </a>
        <ul>
          <li>
            <a class="child-2">Sophia</a>
            <ul>
              <li>
                <a class="child-3">James</a>
                <ul>
                  <li>
                    <a class="child-4">Oliver</a>
                  </li>
                  <li>
                    <a class="child-4">Eleanor</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Daniel</a>
                <ul>
                  <li>
                    <a class="child-4">Liam</a>
                  </li>
                  <li>
                    <a class="child-4">Chloe</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Ethan</a>
              </li>
              <li>
                <a class="child-3">Emma</a>
                <ul>
                  <li>
                    <a class="child-4">Lucas</a>
                  </li>
                  <li>
                    <a class="child-4">Sophie</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a class="child-2">Olivia</a>
            <ul>
              <li>
                <a class="child-3">Henry</a>
                <ul>
                  <li>
                    <a class="child-4">Jack</a>
                  </li>
                  <li>
                    <a class="child-4">Grace</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Isabella</a>
                <ul>
                  <li>
                    <a class="child-4">Ryan</a>
                  </li>
                  <li>
                    <a class="child-4">Madeline</a>
                  </li>
                  <li>
                    <a class="child-4">Nathan</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Madeline</a>
                <ul>
                  <li>
                    <a class="child-4">Ethan</a>
                  </li>
                  <li>
                    <a class="child-4">Hannah</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Lucy</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="child-2">Hannah</a>
            <ul>
              <li>
                <a class="child-3">Ava</a>
                <ul>
                  <li>
                    <a class="child-4">Mason</a>
                  </li>
                  <li>
                    <a class="child-4">Zoe</a>
                  </li>
                  <li>
                    <a class="child-4">Caleb</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Noah</a>
                <ul>
                  <li>
                    <a class="child-4">Eliana</a>
                  </li>
                  <li>
                    <a class="child-4">Samuel</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Benjamin</a>
              </li>
              <li>
                <a class="child-3">Lily</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="child-2">Grace</a>
            <ul>
              <li>
                <a class="child-3">Ella</a>
                <ul>
                  <li>
                    <a class="child-4">Julian</a>
                  </li>
                  <li>
                    <a class="child-4">Victoria</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Caleb</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="child-2">Alexander</a>
            <ul>
              <li>
                <a class="child-3">Charlotte</a>
                <ul>
                  <li>
                    <a class="child-4">Evan</a>
                  </li>
                  <li>
                    <a class="child-4">Nora</a>
                  </li>
                  <li>
                    <a class="child-4">Owen</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Amelia</a>
                <ul>
                  <li>
                    <a class="child-4">Lillian</a>
                  </li>
                  <li>
                    <a class="child-4">Xavier</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Nathan</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="child-2">William</a>
            <ul>
              <li>
                <a class="child-3">Scarlett</a>
                <ul>
                  <li>
                    <a class="child-4">Alice</a>
                  </li>
                  <li>
                    <a class="child-4">Sebastian</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Elijah</a>
                <ul>
                  <li>
                    <a class="child-4">David</a>
                  </li>
                  <li>
                    <a class="child-4">Isla</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="child-3">Gabriel</a>
              </li>
              <li>
                <a class="child-3">Victoria</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
